# Pi-hole Configuration
# For Pi-hole v6.3+, it is highly recommended to use an App Token instead of your web password.
# You can generate an App Token in the Pi-hole Web Interface under Settings > API > App Tokens.

PIHOLE_PASS="YOUR_PASSWORD_OR_APP_TOKEN_HERE"
